
<div class="nav-content">
    <div class="ham-burger">
        <div class="open">
           <img src="../../assets/Hamburger_icon.svg.png" alt="" (click)="showNav()">
        </div>
        <div class="close">
            <!-- <i class="fa-solid fa-xmark" (click)="closeNave()"></i> -->
            <i class="fa fa-close" (click)="closeNave()"></i>
            <!-- <img src="../../assets/ham-burger-close.png" alt=""  > -->
        </div>
     </div>
    <ul class="nav">
        <li class="nav-item"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-location-arrow"></i>Location</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-shopping-bag"></i>Shops</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-product-hunt"></i>Products</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-product-hunt"></i>Sales</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-product-hunt"></i>Staticstics</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-product-hunt"></i>Contact</a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-product-hunt"></i>Help</a></li>
    </ul>
</div>
