<div class="widget-raper">
    <div class="widget card1-color">
        <div class="widget-icon">
            <i class="fa fa-location-arrow"></i>
        </div>
        <div class="widget-info">
            <p class="title">32</p>
            <p class="title">Location</p>

        </div>
    </div>
    <div class="widget card2-color">
        <div class="widget-icon">
            <i class="fa fa-shopping-bag"></i>
        </div>
        <div class="widget-info">
            <p class="title">295</p>
            <p class="title">Shops
            </p>

        </div>
    </div>
    <div class="widget card3-color">
        <div class="widget-icon">
            <i class="fa fa-location-arrow"></i>
        </div>
        <div class="widget-info">
            <p class="title">2945</p>
            <p class="title">Product Sold</p>

        </div>
    </div>
    <div class="widget card4-color">
        <div class="widget-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="widget-info">
            <p class="title">Revenue</p>
            <p class="title">32,000000</p>

        </div>
    </div>
    

</div>