<div class="main-sub-content">
    <div class="top-sec">
    <app-top-widgets></app-top-widgets>
</div>
    <div class="middle-sec">
        <div class="widget-left common">
            <app-sales-by-month>

            </app-sales-by-month>
        </div>
        <div class="widget-right common">
            <app-sales-by-catagory> </app-sales-by-catagory>
        </div>
    </div>
    <div class="bottom-sec">
        <div class="left-widget common">
            <app-last-few-transaction></app-last-few-transaction>
        </div>
        <div class="right-widget common">
            <app-top-three-productes></app-top-three-productes>
        </div>
    </div>


</div>
